.App {
    margin : 5px;
    border: 1px solid black;
    border-radius: 4px;
}

.main {
    display: grid;
    grid-template-columns: 75% 25%
}

.main > section {
    border: 1px solid black;
    border-radius: 4px;
    margin : 5px;
}